body {
    font-family: 'Droid Sans';
    font-size: 20px;
    /* background: #f5f5f5; */
    line-height: 35px;
    /*opacity: 0.8;*/
   background-image: url("Z_2026-01-02_17.07.19.png");
   background-repeat: no-repeat;
   background-size: 1900px 1280px;
  }

  textarea {
    font-family: 'Droid Sans';
    font-size: 20px;
  }

  a {
    text-decoration: none;
  }

  .notice {
    overflow: scroll;
    position: absolute;
    padding: 5px;
    top: 0%;
    right: 0;
    height: 100%;
    width: 35%;
    display: none;
    border: 5px solid #07d;
    background: #fff;
    word-break:break-all
  }

    .notice-mp {
    overflow: scroll;
    position: absolute;
    padding: 5px;
    top: 0%;
    left: 0;
    height: 100%;
    width: 98%;
    display: none;
    border: 5px solid #07d;
    font-size: 18px;
    line-height: 23px;
    background: #fff;
    word-break:break-all
  }

    button {
    padding: 10px;
    color: #fff;
    border: 2px solid #07d;
    border-radius: 5px;
    font-weight: bold;
    background: #07d;
  }

  button:hover {
    background: #15b;
}

li {
  line-height: 120%;
}

h3 {
color: white;
}

p {
color: white;
}

b {
color: white;
}
